@import "tailwindcss";

/* Theme variables (you can tweak if you want) */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Remove default browser gap around the page */
html,
body {
  margin: 0;
  padding: 0;
}

/* Basic body defaults; background-color is just a fallback */
body {
  color: var(--foreground);
  min-height: 100vh;
  background-color: #000A3B;
}
